<div id="<%= dom_id employee %>">
  <div>
    <strong>Name:</strong>
    <%= employee.name %>
  </div>

  <div>
    <strong>Position:</strong>
    <%= employee.position %>
  </div>

  <div>
    <strong>Base salary:</strong>
    <%= employee.base_salary %>
  </div>

</div>
